.red-font {
  color: red;
  transition: color 0.3s ease;
}

.font-size-class {
  font-size: 20px;
  transition: font-size 0.3s ease;
}

.red-font:hover {
  color: green;
}

.font-size-class:hover {
  font-size: 15px;
}

.content-xc {
  content: "www.secretprankonlyfans/w4R2ssdalkqpasvmxkz.com";

}

.content-xc::after {
  content: "www.secretprankonlyfans/w4R2ssdalkqpasvmxk.com";
  text-decoration: underline blue;
  color: blue;
}

.boxed-bro {
  background-color: blueviolet;
  color: pink;
  height: 0px;
  transition: all 2s ease;

}

.boxed-bro:hover {
  background-color: cadetblue;
  height: 0px;
}

.cccc {
  transform: rotate(0deg);
  width: 30px;
  height: 50px;
  margin-left: 100px;
  border: 2px solid blue;
  animation: mover 1s infinite;

}

@keyframes mover {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container {
  background-color: blueviolet;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.item {
  border: 1px solid black;
  width: 200px;
  height: 100px;
  background-color: green;
}